@use '../layout/' as *;

.footer {
    margin: 20px;
    padding: 10px;
}

.copyrights {
    color: color(primary);
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
}

footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
}