$color-primary: #fe142f;
$color-secondary: #3876ac;
$color-tertiary: #279e7a;
$color-dark: #000;
$color-light: #fff;

$colors: (
    primary: (
        base: $color-primary,
        lighter: lighten($color-primary, 14),
        darker: darken($color-primary, 23)
    ),
    secondary: (
        base: $color-secondary,
        lighter: lighten($color-secondary, 14),
        darker: darken($color-secondary, 23)
    ),
    tertiary: (
        base: $color-tertiary,
        lighter: lighten($color-tertiary, 14),
        darker: darken($color-tertiary, 23)
    ),
    dark: (
        base: $color-dark,
        lighter: lighten($color-dark, 14)
    ),
    light: (
        base: $color-light,
        darker: darken($color-light, 23)
    )
)