@use '../base/' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: color(dark);
}

fieldset {
    min-width: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    max-width: 1300px;
    margin: 0 auto;
}